.hero {
  background-image: url("../img/hero_dark.jpg");
  background-size: cover; }
  .hero .br-mobile {
    display: none; }
  .hero img {
    display: block;
    padding-top: 5%;
    height: 70%;
    margin: 0 auto; }
  .hero p {
    text-align: center;
    color: #e6e6e6;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 6px; }

@media (max-width: 1024px) {
  .hero img {
    height: 60%; }
  .hero p {
    font-size: 3vw; } }

@media (max-width: 480px) {
  .hero .br-mobile {
    display: inherit; }
  .hero img {
    height: 50%; }
  .hero p {
    font-size: 6vw;
    margin-top: 20%;
    line-height: 180%; } }

.about__content {
  display: relative;
  padding: 0 10%;
  height: 81%;
  margin-top: 40px; }
  .about__content p {
    height: 80%;
    font-size: 2vw;
    font-weight: 300;
    letter-spacing: 0.3vw;
    float: left;
    width: 45%;
    line-height: 2.5vw;
    margin-left: 5%; }
  .about__content img {
    position: absolute;
    bottom: 0;
    left: 60%;
    height: 80%; }

@media (max-width: 480px) {
  .about__content {
    margin-top: 20px;
    padding: 0;
    display: flex;
    justify-content: center; }
    .about__content p {
      padding: 8% 6%;
      background-color: rgba(112, 112, 112, 0.7);
      margin: 0;
      color: #ededed;
      font-size: 3vw;
      line-height: 6vw; }
    .about__content img {
      left: 0;
      z-index: -1;
      height: 70%; } }

.products {
  background-color: #ededed;
  height: auto;
  text-align: center; }
  .products .cards,
  .products .cards__hidden {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 4vw; }
    .products .cards .card,
    .products .cards__hidden .card {
      background-color: #fafafa;
      width: 27%;
      margin: 4% 1% 0 1%;
      overflow: hidden;
      transition: all 0.3s; }
      .products .cards .card:hover,
      .products .cards__hidden .card:hover {
        transform: scale(1.05);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); }
      .products .cards .card__img,
      .products .cards__hidden .card__img {
        height: 60%;
        width: 100%; }
        .products .cards .card__img img,
        .products .cards__hidden .card__img img {
          margin: 0;
          height: 100%;
          width: 100%;
          object-fit: fill; }
      .products .cards .card__info,
      .products .cards__hidden .card__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 40%;
        margin: 3% 4%;
        font-size: 2vw; }
      .products .cards .card__info__footer,
      .products .cards__hidden .card__info__footer {
        display: flex;
        justify-content: space-between; }
  .products .cards__hidden,
  .products .hide_btn {
    display: none; }
  .products .hide_btn,
  .products .show_btn {
    margin: 3% 0; }

@media (max-width: 480px) {
  .products .cards .card,
  .products .cards__hidden .card {
    width: 45%; } }

.location__content {
  position: relative;
  padding-right: 3%;
  height: 81%; }
  .location__content img {
    position: absolute;
    bottom: 22px;
    right: 65%;
    height: 100%; }
  .location__content__map {
    text-align: right;
    float: right;
    height: 80%;
    width: 50%; }

@media (max-width: 480px) {
  .location__content {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0 !important; }
    .location__content__map {
      width: 70%; }
    .location__content img {
      right: -10%;
      bottom: -6%; } }

.contact {
  background-color: #ededed;
  height: 100%;
  text-align: center; }
  .contact__content {
    position: relative;
    height: 65%;
    width: 40%; }
    .contact__content form {
      background-color: #c9c9c9;
      padding: 20px;
      text-align: left;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: 0 0 10% 10%; }
      .contact__content form span {
        display: inline-block;
        margin-top: 15px;
        text-align: center;
        margin: 0 auto; }
      .contact__content form label {
        font-size: 2.3vw;
        letter-spacing: 2px;
        color: #848484; }
      .contact__content form input {
        height: 1.3rem; }
      .contact__content form textarea {
        margin-bottom: 20px; }
      .contact__content form input,
      .contact__content form textarea {
        resize: none;
        width: 97%;
        border-style: none;
        margin-top: -10px; }
        .contact__content form input:focus,
        .contact__content form textarea:focus {
          outline: none; }
    .contact__content img {
      position: absolute;
      bottom: -7%;
      left: 160%;
      height: 60%; }

@media (max-width: 480px) {
  .contact__content {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0 auto !important;
    width: 70%; }
    .contact__content form {
      z-index: 1;
      background-color: rgba(201, 201, 201, 0.726); }
    .contact__content img {
      left: -20%;
      height: 80%; } }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #ddd;
  padding: 0 20px; }
  header img {
    display: block;
    height: 70%; }
  header ul {
    display: flex;
    list-style: none;
    padding: 0;
    font-size: 1.3rem; }
    header ul li + li {
      padding-left: 20px; }
    header ul a {
      text-decoration: none;
      padding: 5px 4px; }
      header ul a:link, header ul a:active, header ul a:visited {
        color: #707070;
        border-color: transparent; }
      header ul a:hover {
        color: #cf7d30ec;
        border-bottom: 2px solid #cf7d30ec;
        transition: all 0.3s ease-out; }

@media (max-width: 1024px) {
  header {
    display: none; } }

footer {
  height: 100px;
  background-color: #848484;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px; }
  footer img {
    display: block;
    height: 70%; }
  footer ul {
    display: flex;
    list-style: none;
    padding: 0;
    font-size: 1.3rem; }
    footer ul li + li {
      padding-left: 5vw; }
    footer ul a {
      text-decoration: none;
      padding: 5px 4px;
      font-size: 2vw; }
      footer ul a:link, footer ul a:active, footer ul a:visited {
        color: #ededed;
        border-color: transparent; }
      footer ul a:hover {
        border-bottom: 2px solid #ededed;
        transition: all 0.3s ease-out; }
  footer p {
    font-size: 0.8rem;
    position: absolute;
    bottom: 2%;
    right: 1%;
    margin: 0; }

@media (max-width: 1024px) {
  footer ul li + li {
    padding-left: 3vw; }
  footer ul li a {
    font-size: 3vw; } }

@media (max-width: 480px) {
  footer {
    height: 100vw;
    display: flex;
    flex-direction: column-reverse; }
    footer .nav {
      height: 100%; }
      footer .nav ul {
        display: flex;
        flex-direction: column;
        align-items: center; }
        footer .nav ul li {
          padding: 0; }
          footer .nav ul li a {
            font-size: 6vw;
            line-height: 15vw; }
    footer img {
      height: 30vw; } }

.section__title {
  color: #707070;
  font-size: 4vw;
  font-weight: normal;
  text-align: center;
  letter-spacing: 2px;
  margin: 5% 0 3% 0; }

.ham,
.menu {
  display: none; }

body {
  margin: 0;
  padding: 0;
  font-family: lato, Arial, Helvetica, sans-serif;
  font-weight: 300; }

section {
  height: 50vw;
  position: relative;
  overflow: hidden; }

#dark {
  transition: all 0.6s ease-out; }

.dark.clicked {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
  z-index: 20; }

.btn {
  font-size: 2.5vw;
  display: inline-block;
  padding: 7px 9px;
  letter-spacing: 2px;
  color: #848484;
  border: 1px solid #848484;
  cursor: pointer;
  transition: all 0.3s ease-out; }
  .btn:hover {
    color: #ededed;
    background-color: #848484; }

@media (max-width: 1024px) {
  .ham__wrapper {
    text-align: right;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100; }
    .ham__wrapper .ham {
      z-index: 100;
      display: inline-block;
      height: 50px;
      width: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      cursor: pointer;
      background-color: rgba(133, 133, 133, 0.664); }
    .ham__wrapper .ham_line {
      width: 50%;
      height: 1.5px;
      background-color: #333333;
      transition: all 0.6s;
      transition-timing-function: ease-out; }
  .clicked .ham_line1 {
    transform: translateY(13px) rotate(225deg);
    transform-origin: center center; }
  .clicked .ham_line2 {
    width: 0px;
    height: 0px; }
  .clicked .ham_line3 {
    transform: translateY(-13px) rotate(-225deg);
    transform-origin: center center; }
  .menu {
    display: block;
    z-index: 10;
    position: fixed;
    width: 300px;
    height: 300px;
    right: -100%;
    background-color: rgba(133, 133, 133, 0.664);
    transition: all 1s ease-out; }
    .menu ul {
      text-align: left;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      height: 100%;
      margin: 0;
      justify-content: space-around; }
      .menu ul li {
        letter-spacing: 10px; }
        .menu ul li a {
          text-decoration: none;
          padding: 5px 4px;
          font-size: 1.5rem; }
          .menu ul li a:link, .menu ul li a:active, .menu ul li a:visited {
            color: #ededed;
            border-color: transparent; }
          .menu ul li a:hover {
            border-bottom: 2px solid #ededed;
            transition: all 0.3s ease-out; }
  .clicked .menu {
    right: 0%; } }

@media (max-width: 480px) {
  .menu {
    width: 100%; }
    .menu ul {
      text-align: center; }
  section {
    height: 80vh; }
    section .section__title {
      font-size: 7vw; } }
