body {
  margin: 0;
  padding: 0;
  font-family: lato, Arial, Helvetica, sans-serif; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #ddd;
  padding: 0 20px; }
  header img {
    display: block;
    height: 70%; }
  header ul {
    display: flex;
    list-style: none;
    padding: 0;
    font-size: 1.3rem; }
    header ul li + li {
      padding-left: 20px; }
    header ul a {
      text-decoration: none;
      padding: 5px 4px; }
      header ul a:link, header ul a:active, header ul a:visited {
        color: #707070;
        border-color: transparent; }
      header ul a:hover {
        color: #cf7d30ec;
        border-bottom: 2px solid #cf7d30ec;
        transition: all 0.3s ease-out; }

section {
  height: 80vh;
  position: relative;
  overflow: hidden; }

.hero {
  background-image: url("../img/hero_dark.jpg");
  background-size: cover; }
  .hero img {
    display: block;
    padding-top: 5%;
    height: 70%;
    margin: 0 auto; }
  .hero p {
    color: #e6e6e6;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 6px; }

.about__title {
  color: #707070;
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 2px;
  margin: 5% 0 3% 0; }

.about__content {
  display: relative;
  padding: 0 70px;
  height: 81%;
  margin-top: 40px; }
  .about__content p {
    height: 80%;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 1.5px;
    float: left;
    width: 50%;
    line-height: 2rem; }
  .about__content img {
    position: absolute;
    bottom: 0;
    left: 60%;
    height: 80%; }

.products {
  background-color: #ededed; }
  .products__title {
    color: #707070;
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 2px;
    margin: 5% 0 3% 0; }

.location__title {
  color: #707070;
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 2px;
  margin: 5% 0 3% 0; }

.location__content {
  position: relative;
  padding-right: 3%;
  height: 81%; }
  .location__content img {
    position: absolute;
    bottom: 15px;
    right: 65%;
    height: 100%; }
  .location__content__map {
    text-align: right;
    float: right;
    height: 80%;
    width: 50%; }

.contact {
  background-color: #ededed;
  height: 100%;
  text-align: center; }
  .contact__title {
    color: #707070;
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 2px;
    margin: 5% 0 3% 0;
    margin-bottom: 5%; }
  .contact__content {
    position: relative;
    background-color: #C9C9C9;
    height: 65%;
    width: 40%;
    margin: 0 0 3% 3%;
    padding: 5% 5% 2% 5%; }
    .contact__content form {
      text-align: left; }
      .contact__content form label {
        font-size: 1.3rem;
        letter-spacing: 2px;
        color: #848484; }
      .contact__content form input {
        height: 1.3rem; }
      .contact__content form input,
      .contact__content form textarea {
        resize: none;
        width: 97%;
        margin: 10px 0 20px 0;
        border-style: none; }
        .contact__content form input:focus,
        .contact__content form textarea:focus {
          outline: none; }
    .contact__content img {
      position: absolute;
      bottom: -7%;
      left: 120%;
      height: 100%; }

footer {
  height: 100px;
  background-color: #848484;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px; }
  footer img {
    display: block;
    height: 70%; }
  footer ul {
    display: flex;
    list-style: none;
    padding: 0;
    font-size: 1.3rem; }
    footer ul li + li {
      padding-left: 60px; }
    footer ul a {
      text-decoration: none;
      padding: 5px 4px; }
      footer ul a:link, footer ul a:active, footer ul a:visited {
        color: #ededed;
        border-color: transparent; }
      footer ul a:hover {
        border-bottom: 2px solid #ededed;
        transition: all 0.3s ease-out; }
  footer p {
    font-size: 0.8rem;
    position: absolute;
    bottom: 2%;
    right: 1%;
    margin: 0; }

.btn {
  font-size: 1.1rem;
  display: inline-block;
  padding: 7px 9px;
  letter-spacing: 2px;
  color: #848484;
  border: 1px solid #848484; }
  .btn:hover {
    color: #ededed;
    background-color: #848484;
    transition: all 0.3s ease-out; }
