.contact {
  background-color: $grey-light;
  height: 100%;
  text-align: center;

  &__content {
    position: relative;
    height: 65%;
    width: 40%;

    & form {
      background-color: #c9c9c9;
      padding: 20px;
      text-align: left;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: 0 0 10% 10%;

      & span {
        display: inline-block;
        margin-top: 15px;
        text-align: center;
        margin: 0 auto;
      }

      & label {
        font-size: 2.3vw;
        letter-spacing: 2px;
        color: #848484;
      }

      & input {
        height: 1.3rem;
      }

      & textarea {
        margin-bottom: 20px;
      }
      & input,
      & textarea {
        resize: none;
        width: 97%;
        border-style: none;
        margin-top: -10px;

        &:focus {
          outline: none;
        }
      }
    }

    & img {
      position: absolute;
      bottom: -7%;
      left: 160%;
      height: 60%;
    }
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 480px) {
  .contact {
    &__content {
      display: flex;
      justify-content: center;
      padding: 0;
      margin: 0 auto !important;
      width: 70%;

      & form {
        z-index: 1;
        background-color: rgba(201, 201, 201, 0.726);
      }
      
      & img {
        left: -20%;
        height: 80%;
      }
    }
  }
}
