.hero {
  background-image: url("../img/hero_dark.jpg");
  background-size: cover;

  & .br-mobile {
    display: none;
  }

  & img {
    display: block;
    padding-top: 5%;
    height: 70%;
    margin: 0 auto;
  }

  & p {
    text-align: center;
    color: #e6e6e6;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 6px;
  }
}

@media (max-width: 1024px) {
  .hero {
    & img {
      height: 60%;
    }

    & p {
      font-size: 3vw;
    }
  }
}

@media (max-width: 480px) {
  .hero {
    & .br-mobile {
      display: inherit;
    }

    & img {
      height: 50%;
    }

    & p {
      font-size: 6vw;
      // margin-top: 10%;
      line-height: 180%;
    }
  }
}
