.location {
  &__content {
    position: relative;
    padding-right: 3%;
    height: 81%;

    & img {
      position: absolute;
      bottom: 22px;
      right: 65%;
      height: 100%;
    }

    &__map {
      text-align: right;
      float: right;
      height: 80%;
      width: 50%;
    }
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 480px) {
  .location {
    &__content {
      display: flex;
      justify-content: center;
      padding: 0;
      margin: 0 !important;

      &__map {
        width: 70%;
      }
      & img {
        right: -10%;
        bottom: -6%;
      }
    }
  }
}
