$grey-primary: #707070;
$grey-primary-trans: rgba(112, 112, 112, 0.7);
$grey-light: #ededed;

@import "hero.scss";
@import "about.scss";
@import "products.scss";
@import "location.scss";
@import "contact.scss";
@import "header.scss";
@import "footer.scss";

.section__title {
  color: $grey-primary;
  font-size: 4vw;
  font-weight: normal;
  text-align: center;
  letter-spacing: 2px;
  margin: 5% 0 3% 0;
}

///////////// hamburger /////////////
.ham,
.menu {
  display: none;
}
///////////// hamburger /////////////

body {
  margin: 0;
  padding: 0;
  font-family: lato, Arial, Helvetica, sans-serif;
  font-weight: 300;
}

section {
  height: 50vw;
  position: relative;
  overflow: hidden;
}

#dark {
  transition: all 0.6s ease-out;
}
.dark.clicked {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
  z-index: 20;
}

.btn {
  font-size: 2.5vw;
  display: inline-block;
  padding: 7px 9px;
  letter-spacing: 2px;
  color: #848484;
  border: 1px solid #848484;
  cursor: pointer;
  transition: all 0.3s ease-out;

  &:hover {
    color: $grey-light;
    background-color: #848484;
  }
}

@media (max-width: 1024px) {
  ///////////// hamburger /////////////
  .ham__wrapper {
    text-align: right;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;

    & .ham {
      z-index: 100;
      display: inline-block;
      height: 50px;
      width: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      cursor: pointer;
      background-color: rgba(133, 133, 133, 0.664);
    }
    & .ham_line {
      width: 50%;
      height: 1.5px;
      background-color: #333333;
      transition: all 0.6s;
      transition-timing-function: ease-out;
    }
  }

  .clicked .ham_line1 {
    transform: translateY(13px) rotate(225deg);
    transform-origin: center center;
  }
  .clicked .ham_line2 {
    width: 0px;
    height: 0px;
  }
  .clicked .ham_line3 {
    transform: translateY(-13px) rotate(-225deg);
    transform-origin: center center;
  }

  .menu {
    display: block;
    z-index: 10;
    position: fixed;
    width: 300px;
    height: 300px;
    right: -100%;
    background-color: rgba(133, 133, 133, 0.664);
    transition: all 1s ease-out;

    & ul {
      text-align: left;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      height: 100%;
      margin: 0;
      justify-content: space-around;

      & li {
        letter-spacing: 10px;

        & a {
          text-decoration: none;
          padding: 5px 4px;
          font-size: 1.5rem;

          &:link,
          &:active,
          &:visited {
            color: $grey-light;
            border-color: transparent;
          }
          &:hover {
            border-bottom: 2px solid $grey-light;
            transition: all 0.3s ease-out;
          }
        }
      }
    }
  }

  .clicked .menu {
    right: 0%;
  }
  ///////////// hamburger /////////////
}

@media (max-width: 480px) {
  .menu {
    width: 100%;

    & ul {
      text-align: center;
    }
  }

  section {
    height: 80vh;

    & .section__title {
      font-size: 7vw;
    }
  }
}
